html, body {
    background: #353b48;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Nunito;
}

#banner {
    background: white;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* this is a comment */

#logo {
    width: 100px;
}

.top_banner_item {
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .top_banner_item {
        display: none;
    }
}


